@page
@model ProjectWorkshop.Pages.Patient.IndexModel
@{
    // title that will be displayed on the top of the page
    ViewData["Title"] = "List of Patients";
}

@if (Model.HospitalName != null)
{
    <h2>Patient List for @Model.HospitalName</h2>
}
else
{
    <h2>Patient List </h2>
}

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Insurance ID</th>
                <th>Hospital ID</th>
                <th>Name of Hospital</th>
                <th>SSN</th>
                <th>MRN</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.Dob</td>
                    <td>@patient.Gender</td>
                    <td>@patient.InsuranceId</td>
                    <td>@patient.HospitalId</td>
                    <td>@patient.HospitalName</td>
                    <td>@patient.Ssn</td>
                    <td>@patient.Mrn</td>
                    <td>
                        <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@patient.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        @if (Model.HasPreviousPage)
        {
            <a class="btn btn-primary m-1" asp-page="./Index"
               asp-route-hospitalId="@Request.Query["hospitalId"]"
               asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
        }

        @if (Model.HasNextPage)
        {
            <a class="btn btn-primary m-1" asp-page="./Index"
               asp-route-hospitalId="@Request.Query["hospitalId"]"
               asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
        }
    </div>
</div>
<p>
    <a class="btn btn-primary m-1" asp-page="./Edit">Add Patient</a>
</p>